.cool-layout {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 220px 1fr;

  .cool-layout-heading {
    color: #c1ff0b;

    h2 {
      text-transform: none;
      padding: 18px 0 0;
      font-size: 26px;
      font-weight: 600;
      line-height: 1;
      margin: 0;
    }
  }
}
